/* font-family: 'Work Sans', sans-serif; */

*,
*::before,
::after {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Cabinet Grotesk", sans-serif;
    src: url(../fonts/CabinetGrotesk-Extrabold.woff);
}

body {
    background-color: #F0F0F0;
}

.header {
    padding-top: 35px;
    margin-bottom: 100px;
}

.header__container {
    max-width: 1120px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header___menu-items {
    display: flex;
}

.header___menu-items li {
    list-style: none;
    margin-right: 70px;
}

.header__menu-items li:last-child {
    margin-right: 0;
}

.header__menu-item {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #1C1C1C;
}

.header__menu-item.selected {
    font-weight: 600;
}

.header__btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.header__btn.in {
    text-decoration-line: underline;
    color: #1C1C1C;
    margin-right: 28px;
}

.header__btn.in:hover {
    border: #1C1C1C dotted 1px;
    padding: 16px 24px;
    margin-right: 5px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__btn.in:active {
    border: #1C1C1C solid 1px;
    padding: 16px 24px;
    margin-right: 5px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__btn.up {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #1C1C1C;
    padding: 16px 24px;
}

.header__btn.up:hover {
    background-color: #343434;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__btn.up:active {
    background-color: #1C1C1C;
    box-shadow: #5C5C5C 3px 3px 2px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__burger {
    display: none;
}



@media (max-width: 1130px) {
    .header__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__logo {
        align-self: center;
    }

    .header__nav {
        flex-direction: row-reverse;
    }

    .header___menu-items {
        display: none;
    }

    .header__burger {
        display: block;
        width: 45px;
        border: 1px solid #1C1C1C;
        margin-left: 30px;
        padding: 8px 0px;
        text-align: center;
    }
    
    .header__burger > a {
        color: #1C1C1C;
    }
}

@media (max-width: 450px) {
    .header__logo {
        max-width: 100px;
    }

    .header__authorization {
        display: flex;
        align-items: center;
    }

    .header__btn {
        font-size: 12px;
    }

    .header__btn.in {
        margin-right: 10px;
    }

    .header__btn.up {
        padding: 14px 10px;
    }

    .header__burger {
        display: block;
        align-self: center;
        margin-left: 10px;
    }
}

.services,
.workflow,
.contacts {
    margin-bottom: 90px;
}

.services__container {
    max-width: 1118px;
    margin: 0 auto;
}

.services__h2,
.workflow__h2,
.contacts__h2 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #1C1C1C;
    text-align: center;
    margin-bottom: 4px;
}

.services__h3,
.workflow__h3,
.contacts__h3 {
    display: block;
    margin: 0 auto 36px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    color: #5C5C5C;
    max-width: 930px;
    text-align: center;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 22px;
}

.services__grid-item {
    padding: 56px 23px 38px;
    border: 1px solid #1C1C1C;
    text-align: center;
    transition: all 0.3s ease-in;
}

.services__grid-item.hover {
    background-color: #1E1E1E;
}

.services__img {
    margin-bottom: 32px;
}

.services__h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    color: #5C5C5C;
    margin-bottom: 10px;
}

.services__h4.hover {
    color: #FFFFFF;
}

.services__text-p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: #5C5C5C;
}

.services__text-p.hover {
    color: #fff;
}

.services__grid-item:hover {
    background-color: #1E1E1E;
}

@media (max-width: 1130px) {
    .services__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 880px) {
    .services__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
    }
}

@media (max-width: 650px) {
    .services__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }

    .services__h2 {
        font-size: 54px;
    }
}

.workflow__container {
    max-width: 996px;
    margin: 0 auto;
}

.workflow__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 0;
    padding-top: 34px;
}

.workflow__grid-item {
    max-width: 559px;
    text-align: center;
}

.workflow__grid-item:nth-child(odd) {
    border-right: 3px solid #E0E0E0;
    border-bottom: 3px solid #E0E0E0;
    padding-top: 70px;
    padding-right: 85px;
    padding-bottom: 67px;
    padding-left: 5px;
}

.workflow__grid-item:nth-child(even) {
    border-bottom: 3px solid #E0E0E0;
    padding-top: 70px;
    padding-right: 5px;
    padding-bottom: 67px;
    padding-left: 72px;
}

.workflow__grid-item:nth-last-child(1) {
    border-bottom: none;
}

.workflow__grid-item:nth-last-child(2) {
    border-bottom: none;
}

.workflow__img {
    max-width: 412px;
}

.workflow__h4,
.contacts__h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #1C1C1C;
    max-width: 412px;
}

.workflow__text-p,
.contacts__text-p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    text-align: center;
    color: #5C5C5C;
    max-width: 412px;
}

@media (max-width: 1130px) {
    .workflow__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .workflow__img {
        display: block;
        width: 100%;
    }
}

@media (max-width: 880px) {
    .workflow__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .workflow__grid {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 0;
    }

    .workflow__grid-item:nth-child(odd) {
        border-right: none;
        padding: 40px 67px 47px;
    }

    .workflow__grid-item:first-child {
        padding-top: 0;
    }

    .workflow__grid-item:nth-child(even) {
        padding: 40px 67px 47px;
    }

    .workflow__grid-item:nth-last-child(2) {
        border-bottom: 3px solid #E0E0E0;
    }

    .workflow__grid-item:nth-last-child(1) {
        border-bottom: none;
    }

    .workflow__img {
        display: block;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .workflow__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .workflow__grid {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding-top: 0;
    }

    .workflow__h2 {
        font-size: 54px;
    }

    .workflow__img {
        display: block;
        width: 100%;
    }

    .workflow__grid-item:nth-child(odd) {
        border-right: none;
        padding: 40px 37px 47px;
    }

    .workflow__grid-item:first-child {
        padding-top: 0;
    }

    .workflow__grid-item:nth-child(even) {
        padding: 40px 37px 47px;
    }

    .workflow__grid-item:nth-last-child(2) {
        border-bottom: 3px solid #E0E0E0;
    }

    .workflow__grid-item:nth-last-child(1) {
        border-bottom: none;
    }
}

.contacts__container {
    max-width: 996px;
    margin: 0 auto;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
    text-align: center;
}

.contacts__grid-item {
}

.contacts__icon {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 70px;
}

.contacts__link {
    text-decoration: none;
    color:#5C5C5C;
    cursor: pointer;
}

@media (max-width: 1130px) {
    .contacts__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 880px) {
    .contacts__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .services,
    .workflow,
    .contacts {
        margin-bottom: 80px;
    }

    .contacts__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .contacts__h2 {
        font-size: 54px;
    }
    
    .contacts__h4 {
        margin-bottom: 10px;
    }
}

.footer {
    background-color: #1C1C1C;
}
.footer__container {
    max-width: 996px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__flex-item {
    color: #e0e0e0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.4;
}

@media (max-width: 1130px) {
    .footer__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 880px) {
    .footer__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 650px) {
    .footer__container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer__flex {
        flex-direction: column;
        text-align: center;
    }

}


/* Всплывающее меню */

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
    padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.sidenav .collapsible {
    margin: 0;
}

.sidenav li {
    float: none;
    line-height: 48px;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-flat,
.sidenav li>a.btn-floating {
    margin: 10px 15px;
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-floating {
    color: #fff;
}

.sidenav li>a.btn-flat {
    color: #343434;
}

.sidenav li>a.btn:hover,
.sidenav li>a.btn-large:hover,
.sidenav li>a.btn-small:hover,
.sidenav li>a.btn-large:hover {
    background-color: #2bbbad;
}

.sidenav li>a.btn-floating:hover {
    background-color: #26a69a;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
    margin: 8px 0 0 0;
}

.sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}

.sidenav .subheader:hover {
    background-color: transparent;
}

.sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}

.sidenav .user-view>a {
    height: auto;
    padding: 0;
}

.sidenav .user-view>a:hover {
    background-color: transparent;
}

.sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
    display: block;
}

.sidenav .user-view .circle {
    height: 64px;
    width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
}

.sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
}

.sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
}

.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }

    .sidenav.sidenav-fixed.right-aligned {
        -webkit-transform: translateX(105%);
        transform: translateX(105%);
    }

    .sidenav>a {
        padding: 0 16px;
    }
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #ee6e73;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #fff;
}

.sidenav .collapsible-body {
    padding: 0;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
}

.breadcrumb i,
.breadcrumb [class^="mdi-"],
.breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
    display: inline-block;
    float: left;
    font-size: 24px;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

nav ul a.btn>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-small>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-flat>.material-icons,
nav ul a.btn-floating>.material-icons {
    height: inherit;
    line-height: inherit;
}

@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
        display: none;
    }
}

nav .sidenav-trigger {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
}


@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
        min-height: 64px;
    }

    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        height: 64px;
        line-height: 64px;
    }

    .navbar-fixed {
        height: 64px;
    }
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  /* Модальное окно */

.modal__close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-content h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    color: #1C1C1C;
    text-align: center;
    margin-bottom: 14px;
}

.modal-content p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #1C1C1C;
    text-align: center;
    margin-bottom: 30px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__form input {
    padding: 15px 0 15px 15px;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border: 2px dotted #1C1C1C;
    transition: all 0.3s ease-in;
}

.modal__form input:hover {
    border: 2px solid #1C1C1C;
    transition: all 0.3s ease-in;
}

.modal__form input:focus {
    border: 2px solid #1E1E1E;
    border-radius: 10px;
    box-shadow: #343434 3px 3px 2px;
    transition: all 0.3s ease-out;
}

.z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 40px 40px 0px 40px;
  max-height: 70%;
  max-width: 400px;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}

.modal .modal-content {
  text-align: center;
}

.modal .modal-close {
  cursor: pointer;
}

.modal__close-icon .modal-close {
    color:#1E1E1E;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  text-align: center;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}